.HashtagAndCatagories {
  display: flex;
  flex-direction: column;
  padding: 40px 0px 40px 30px
}
.HashtagAndCatagories:before {
  content: '';
  position: absolute;
  background: #d9d9d9;
  width: 1px;
  height: 100%;
  left: 15px;
  top: 0;
  bottom: 0;
  margin-top: 0;
}
// .sk-Removeside-space{
//   border-left: 1px solid #d9d9d9;
//   margin-top: -40px;
//   padding-top: 40px;
// }
.HashtagAndCatagoriesTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 0 10px 0;
  color: #020202;
  margin-bottom: 0;

  img {
    width: 28px;
    h4 {
      margin-bottom: 0;
      font-size: 22px;
      font-style: italic;
    }
  }
}
.sk-instagram {
  background: linear-gradient(
    0deg,
    #e09b3d 0.29%,
    #c74c4d 29.97%,
    #c21975 59.65%,
    #7024c4 99.22%
  );
}
.SocialMediaIconscontainer .likes {
  padding: 30px 5px 25px;
  gap: 5px;
}
.youMayLikeCarousel {
  padding: 10px 0 !important;
}
.fristAdd {
  width: 100%;
  height: auto;
  padding: 15px 0;
  border-top: 1px solid #d9d9d9;
  img {
    width: 100%;
    height: auto;
  }
}
.secondAdd {
  width: 100%;
  height: auto;
  padding: 15px 0 20px;
  border-bottom: 1px solid #d9d9d9;
  img {
    width: 100%;
    height: auto;
  }
}
.sk-like-icon {
  background: #75B94A;
  color: #fff;
  border-radius: 50px;
  width: 28px;
  height: 28px;
  display: inline-block;
  text-align: center;
  line-height: 28px;
  margin-right: 8px;
}
.sk-like-icon svg{
  font-size: 19px;
}

.HashtagAndCatagoriesTitle-mobile {
  display: none;
}
.HashtagAndCatagoriesTitle-mobile::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.HashtagAndCatagoriesTitle {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 15px;
  padding: 0px 0 18px;
  font-style: italic;
}
.HashtagAndCatagoriesTitle h5 {
  margin-bottom: 0;
}

.sk-blogDetails-content {
}
.sk-blogS-category {
  padding: 30px 0;
}
.hashtage-item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border: 0.5px solid #d9d9d9;
  border-radius: 8px;
  padding: 7.5px 12px;
  cursor: pointer;
  transition: 0.3s;
}
.hashtage-item:hover {
  box-shadow: 3px 3px 8px 0px #00000026;
}

.SocialMediaIconscontainer {
  width: 100%;
  display: flex;
  padding: 10px 0;
}
.likes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: "#fff";
}
.social-media {
  margin-top: 17px;
}
@media screen and (max-width:1199px){
  .HashtagAndCatagories {
    padding-left: 0;
  }
  .HashtagAndCatagories:before {  
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .HashtagAndCatagories {
    margin-top: 20px;
  }
  .HashtagAndCatagories {
    border: 0;
    padding: 0;
  }
  .hashtage-item {
    font-size: 13px;
  }
  .HashtagAndCatagoriesTitle {
    display: none;
  }
  .HashtagAndCatagoriesTitle-mobile {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px 15px;
    padding: 0px 0 18px;
    font-style: italic;
    overflow: auto;
  }
  // .sk-Removeside-space{
  //   border-left: 0;
  // }
}
