.HashtagAndCatagories {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 0px 20px;
  position: sticky;
  top: 20px;
  border-left: 1px solid #d9d9d9;
  padding-left: 20px;
}
.HashtagAndCatagoriesTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 0 10px 0;
  color: #020202;
  margin-bottom: 0;

  img {
    width: 28px;
    h4{
      margin-bottom: 0;
      font-size: 22px;
      font-style: italic;
    }
  }
}
.sk-instagram{
  background: linear-gradient(0deg, #E09B3D 0.29%, #C74C4D 29.97%, #C21975 59.65%, #7024C4 99.22%);
}
.SocialMediaIconscontainer .likes {
  padding: 20px 5px 15px;
  gap: 5px;
}
.youMayLikeCarousel{
  padding: 10px 0 !important;
}
.fristAdd {
  width: 100%;
  height: auto;
  padding: 15px 0;
  border-top: 1px solid #d9d9d9;
  img {
    width: 100%;
    height: auto;
  }
}
.secondAdd {
  width: 100%;
  height: auto;
  padding: 15px 0 20px;
  border-bottom: 1px solid #d9d9d9;
  img {
    width: 100%;
    height:auto;
  }
}

.HashtagAndCatagoriesTitle {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 15px;
  padding: 0px 0 18px;
  font-style: italic;
}
.HashtagAndCatagoriesTitle h5 {
  margin-bottom: 0;
}

.sk-blogDetails-content {
 
}
.sk-blogS-category{
  padding: 30px 0;
}
.hashtage-item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border: 0.5px solid #d9d9d9;
  border-radius: 8px;
  padding:7.5px 12px;
  cursor: pointer;
  transition: 0.3s;
}
.hashtage-item:hover {
  box-shadow: 3px 3px 8px 0px #00000026;
}

.SocialMediaIconscontainer {
  width: 100%;
  display: flex;
  padding: 10px 0;
}
.likes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: "#fff";
}
.social-media {
  margin-top: 17px;
}
@media screen and (max-width: 800px) {
.HashtagAndCatagories {
    margin-top: 20px;
  }
  .HashtagAndCatagories{
    border: 0;
    padding: 0;
  }
  .hashtage-item{
    font-size: 13px;
  }
}