.loader-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh;

  &.size {
    height: 100px;

    img {
      width: 300px;
    }
  }

  img {
    height: 80%;
  }
}
