.SucOption {
  background: #e6e6e6;
  // background-repeat: no-repeat;
  // background-size: cover;
  // width: 100%;
  // height: 407px;
  display: flex;
  align-items: center;
  // margin-bottom: 31px;
}
.mocktest-sec {
  background: #f5f5f5;
  padding: 60px 0;
  margin-bottom: 50px;
}
.mocktest-sec h3 {
  font-size: 48px;
  text-transform: capitalize;
  font-weight: 700;
}
.SucOption h2 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  color: #333333;
  text-transform: capitalize;
  margin: 0;
}
.SucOption h3 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #333333;
  text-transform: capitalize;
  margin: 0;
}
.MuiTabs-flexContainer button {
  width: 100%;
  display: block;
}

@media screen and (min-device-width: 50px) and (max-device-width: 767px) {
  // .SucOption {
  //   background-image: url("../../assets/images/Career/mob_bg.png");
  //   align-items: flex-start;
  // }
  .mocktest-sec h3 {
    font-size: 30px;
    font-weight: 600;
  }
  .CompExams .MuiTabs-root.MuiTabs-vertical {
    height: auto;
  }
  .SucOption h2 {
    font-size: 34px;
    line-height: 40px;
    padding-top: 47px;
  }
}
