$primary-color: #d3317d;

button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: $primary-color;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &:focus {
    outline: none;
    // box-shadow: 0 0 0 3px rgba($primary-color, 0.5);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
