.sk-addBg-color {
  background: #F4F4F4;
  padding: 30px 0;

.add-banner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  }
}

.rectangle {
  img {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .sk-blog-sidebar {
    margin-top: 25px;
  }
  
}
