img {
  max-width: 100%;
  height: auto;
}
.card:hover {
  box-shadow: 0px 5px 15px 0px #87154221;
}
.sk-tagBlog-name {
  background: #2867b2;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  padding: 5px 8px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.sk-chipTag-blog {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #1da1f2;
  color: #fff;
  font-size: 14px;
  margin: 15px 20px;
  padding: 3px 10px;
}
.sk-treadingBlog-one {
  background: #75b94a;
  color: #fff;
  padding: 4px 10px;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
}

.sk-Blogcard-content {
  padding: 12px 15px 5px;
}
.sk-Blogcard-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
}
.card .card__bottom:last-child {
  margin-right: 0;
}
.sk-cardAdd-fix {
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  margin: 20px 0 10px;
  align-items: center;
  border-radius: 4px;
  height: calc(100% - 30px);
  padding: 20px;
}
.card img {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  // margin: auto;
  // height: auto;
  width: 100%;
}
.card {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 12px 0px #8f9bb233;
  border: 0;
  margin: 20px 0 15px;
  transition: 0.5s;
  justify-content: space-between;
  height: calc(100% - 30px);
  align-items: stretch;

  &__image {
    position: relative;
    img {
      width: 100%;
      height: auto;
      max-width: 100%;
      object-fit: cover;
      height: 240px;
      object-position: center top;
      border-radius: 4px 4px 0px 0;
    }
  }
  &__hashtags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    span {
      margin-right: 5px;
      font-size: 12px;
      color: #555;
      display: flex;
      justify-content: center;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    padding: 0 0 0 10px;
  }

  &__description {
    font-weight: 400;
    font-size: 14px;
    color: #434242;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    white-space: pre-line;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 14px !important;
  }

  &__bottom {
    // display: flex;
    // justify-content: space-between;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    align-items: center;
    color: #999;
    font-size: 12px;
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      svg {
        font-size: 18px;
        margin-right: 5px;
        vertical-align: top;
      }
    }
  }

  &__button {
    border: none;
    background: #fff;
    color: #d3317d;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    transition: all 0.3s;
    padding: 5px 8px;
    max-width: fit-content;
    width: min-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    // margin-left: auto;
    &:hover {
      background: #d3317d;
      color: #fff;
    }

    svg {
      margin-top: 1px;
      margin-left: 5px;
    }
  }
  .featured-stories {
    .card__bottom {
      // display: flex;
      align-items: center;
      display: grid;
      grid-auto-columns: minmax(0, 1fr);
      grid-auto-flow: column;
    }
  }
}
.card__bottom span:last-child button {
  margin-left: auto;
  min-width: fit-content;
  max-width: max-content;
  // min-width: min-content;
}
.card__bottom span:last-child button svg {
  margin-right: 0;
}
.card__bottom span:last-child {
  border-left: 1px solid #d9d9d9;
}

//trending blog style
.title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.title h4 {
  font-style: italic;
  margin-bottom: 0;
  font-size: 22px;
  color: #020202;
}
.blog-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 30px;
  grid-gap: 15px;
  gap: 15px;

  &__image {
    flex: 80px 0 0;
    height: auto;
    background-size: cover;
    background-position: center;
    position: relative;
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }

  &__content {
    flex: 1;

    &__title {
      font-size: 22px;
    }

    &__description {
      font-size: 1.2rem;
    }

    &__meta {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.9rem;
      color: #999;
    }
  }
}

.blog-card__meta span {
  font-size: 12px;
  color: #888;
  margin-right: 10px;

  svg {
    font-size: 18px;
    margin-right: 5px;
    vertical-align: text-bottom;
  }
}

.blog-card2 {
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 0;

  &__image {
    flex: 300px 0 0;
    height: auto;
    margin-right: 15px;
    position: relative;
  }
  &__content {
    flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .blog-card2 {
    padding: 10px;
    &__title {
      font-size: 1.1rem;
    }
    &__image {
      flex: 100px 0 0;
    }
    &__description {
      font-size: 0.7rem;
    }
    &__content {
      flex: 1;
    }
  }
}
.blog-card2__meta span {
  font-size: 12px;
  color: #888;
}
.blog-card2__meta svg {
  font-size: 18px;
  margin-right: 5px;
  vertical-align: text-bottom;
}
.card__button span {
  border-left: 1px solid #d9d9d9;
}

.card__button {
  display: flex;
  padding: 8px;
  background: #fff;
  color: #d3317d;
  transition: all 0.3s;
  max-width: fit-content;
  width: min-content;
  min-width: fit-content;
  // margin-left: auto;
  &:hover {
    box-shadow: inset -3.5em 0 0 0 #d3317d, inset 3.5em 0 0 0 #d3317d;
    color: #fff;
  }
}

.card .card__bottom span img {
  margin-right: 5px;
}
.card .card__bottom {
  margin-right: 15px;
}

.blog-card-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #434242;
  margin-bottom: 5px;
}
.blog-card-description p {
  margin-bottom: 0;
}
.sk-blogDivider-bottom {
  border-bottom: 1px solid #d9d9d9;
}
.sk-blogDivider-bottom:last-child {
  border-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 1400px) {
  .card__button {
    font-size: 12px;
  }
}
