img {
  max-width: 100%;
  height: auto;
}
.sk-Blogcard-content {
  padding: 12px 15px 4px;
}
.card .card__bottom:last-child {
  margin-right: 0;
}
.card {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 12px 0px #8f9bb233;
  border: 0;
  margin:20px 0 15px;

  &__image {
    img {
      width: 100%;
      height: auto;
      max-width: 100%;
    }
  }

  &__hashtags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    span {
      margin-right: 5px;
      font-size: 12px;
      color: #555;
      display: flex;
      justify-content: center;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    padding: 0 0 0 10px;
  }

  &__description {
    font-weight: 400;
    font-size: 14px;
    color: #434242;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    white-space: pre-line;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 14px !important;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999;
    font-size: 12px;
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      svg {
        font-size: 16px;
        margin-right: 5px;
        vertical-align: top;
      }
    }
  }

  &__button {
    border: none;
    background: #fff;
    color: #D3317D;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    transition: all 0.3s;
    padding: 5px 8px;
    max-width: fit-content;
    width: min-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    &:hover{
      background: #D3317D;
      color: #fff;
    }
    

    svg {
      margin-top: 1px;
      margin-left: 5px;
    }
  }
  .featured-stories{
  .card__bottom {
    display: flex;
    align-items: center;
    }
  }
}

//trending blog style
.title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.title h4 {
  font-style: italic;
  margin-bottom: 0;
  font-size: 22px;
}
.blog-card {
  // display: flex;
  margin-bottom: 1rem;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 1rem;

  &__image {
    flex: 80px 0 0;
    height: auto;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }

  &__content {
    flex: 1;

    &__title {
      font-size: 22px;
    }

    &__description {
      font-size: 1.2rem;
    }

    &__meta {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.9rem;
      color: #999;
      
    }
  }
}

.blog-card__meta
  span{
    font-size: 12px;
    color: #888;
    margin-right: 10px;
 
    svg{
      font-size: 18px;
      margin-right: 5px;
      vertical-align: text-bottom;
    }
  }
  
.blog-card2 {
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 0;
  // border-top: 1px solid #d9d9d9;
  
    &__image {
      flex: 300px 0 0;
      height: auto;
      margin-right: 15px;
    }
      &__content {
        flex: 1;
      }
    }
      @media screen and (max-width: 768px) {
        .blog-card2 {
          padding: 10px;
          &__title {
            font-size: 0.7rem;
          }
          &__image {
            flex: 100px 0 0;
          }
          &__description {
            font-size: 0.7rem;
          }
          &__content {
            flex: 1;
    }
  }
}
.blog-card2__meta span{ 
  font-size: 12px;
  color: #888;
}
.blog-card2__meta svg{ 
  font-size: 18px;
  margin-right: 5px;
  vertical-align: text-bottom;
}

.card__button {
  display: flex;
  padding: 5px 8px;
  background: #fff;
  color: #D3317D;
  transition: all 0.3s;
  max-width: fit-content;
  width: min-content;
  min-width: fit-content;
  
  &:hover {
    background: #D3317D;
    color: #fff;
   
  }
}
.card .card__bottom span img {
  margin-right: 5px;
}
.card .card__bottom {
  margin-right: 15px;
}
