section{
  padding: 50px 0;
}
.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;


  &__slide {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    z-index: 1;
    position: relative;
    img {
    width: 100%;
    border-radius: 8px;
    }
  }
  
  &__content {
    color: #fff;
    padding: 1.5rem;
    width: 100%;
    z-index: 2;
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(32, 32, 32, 0) 0%, #202020d1 100%);
  }

  &__nav {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  &__dot {
    height: 4px;
    width: 34px;
    padding: 0;
    background: #ffffff;
    border-radius: 4px;
    margin: 0 0.5rem;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    &.active {
      transform: scale(1.2);
      background-color: #ff0080;
    }
  }
}

.grid-container {
  margin-top: 30px;
}
.carousel__content h2{
  color: #fff !important;
}
.has {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  max-width: 500px;
  

  span {
    font-size: 14px;
    color: #fff !important;
    display: flex;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

  svg{
    margin-right: 8px;
    font-size: 20px;
    }
  }
}
