img {
  max-width: 100%;
  height: auto;
}
section {
  padding: 50px 0;
}
.sk-eventcard-sec {
  padding: 80px 0 54px;
}
.sk-explore-btn .sk-btn {
  border-radius: 8px;
  font-weight: 600;
  padding: 15px 30px;
  min-width: 212px;
  max-width: 212px;
  margin-top: 24px;
}
.sk-search-sec {
  background: url(../../assets/images/search-bg.png) no-repeat center center;
  background-size: cover;
  padding: 50px 0;
  position: relative;
  border-bottom: 1px solid #d9d9d98d;
}
.sk-search-sec .sk-item-box .sk-icon {
  margin-bottom: 15px;
}

.sk-search-sec .sk-item-box h6,
.sk-search-sec .sk-item-box .h6 {
  padding: 6px 0;
}

.sk-search-sec .sk-item-box h6 span,
.sk-search-sec .sk-item-box .h6 span {
  font-weight: 400;
}
.career_form {
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.sk-event-slide .owl-carousel .owl-stage-outer {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.sk-event-slide .owl-carousel .owl-stage-outer .owl-stage {
  height: auto;
}
.sk-event-slide .owl-carousel .owl-item img {
  width: 100%;
  border-radius: 6px;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.25));
}
.sk-search-sec input {
  width: 100%;
  height: 50px;
  border: 1px solid #d9d9d9;
  padding: 0 15px;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.sk-carrers-search.style-8 .info .form .form-group {
  position: relative;
}
.sk-search-sec ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  gap: 10px;
}
.sk-carrers-search .sk-form-group {
  display: flex;
  align-items: center;
  padding: 8px;
  background: #fff;
  border-radius: 50px;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 6.844750881195068px 25.667816162109375px 0px #efe5ea;
  transition: all 0.3s;
}

.sk-carrers-search .sk-form-group span {
  cursor: pointer;
}

.sk-carrers-search .sk-form-group input {
  border: 0;
}

.updown-move{
  animation: move 3s infinite; 
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: auto;
  font-size:14px;
  color: #555;
  height: 50px;
}
@keyframes move {
  0% {
    transform: translatey(-5%);
  }
  10% {
    transform: translatey(-20%);
  }
  20% {
    transform: translatey(-20%);
  }
  30% {
    transform: translatey(-20%);
  }

  50% {
    transform: translatey(-100%);
  }
  100% {
    transform: translatey(-100%);
  }
}



.sk-btn {
  display: inline-block;
  min-width: 140px;
  background: #202020;
  color: #fff;
  text-transform: capitalize;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border-radius: 50px;
  transition: all 0.3s;
  max-width: -moz-max-content;
  max-width: max-content;
  position: relative;
  z-index: 1;
  border: none;
  line-height: normal;
  font-family: "Poppins", sans-serif;
}
.sk-category ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 0;
}
// .sk-eventcard-sec .sk-category ul {
//   justify-content: left;
// }
.sk-category ul li a {
  color: #020202;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
  width: max-content;
}
.sk-eventcard-sec .sk-category ul li a {
  border-radius: 30px;
}
.sk-category ul li a:hover {
  box-shadow: 4px 4px 10px 0 #00000026;
}
.sk-eventcard-sec .sk-category {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sk-eventcard-sec .sk-category h6 {
  font-weight: 400;
  width: 100%;
  max-width: 60px;
  color: #888;
}
.sk-eventcard-sec .active-time {
  background: #020202;
  color: #fff !important;
  border-color: transparent;
}
.active-time {
  background: #020202;
  color: #fff !important;
  border-color: transparent;
}
.sk-eventcard-sec .sk-category ul li a:hover {
  background: #020202;
  color: #fff !important;
  border-color: transparent;
}
.sk-carrers-search .sk-form-group span img {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: #505050;
  max-width: 20.52px;
}
.sk-category {
  margin-bottom: 54px;
}
.sk-tags {
  position: absolute;
  bottom: 0;
  margin: 15px 0;
  display: inline-block;
}
.sk-title-heading {
  text-align: center;
  margin-bottom: 50px;
}
.sk-title-heading h1 {
  font-size: calc(1rem + 1.5vw);
  font-weight: 500;
  color: #020202;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 15px;
}
.sk-event-slide .owl-dots {
  display: none;
}
.sk-explore-btn {
  text-align: center;
}
.sk-event-sec {
  position: relative;
}
.swiper-button-next,
.swiper-button-prev {
  color: #ec498a;
}
.sk-event-sec{
  // background: linear-gradient(
  //   89.98deg,
  //   rgb(136 136 136 / 92%) 2.6%,
  //   rgba(136, 136, 136, 0.28) 19.79%,
  //   rgba(255, 255, 255, 0) 26.4%,
  //   rgba(255, 255, 255, 0) 79.16%,
  //   rgba(136, 136, 136, 0.29) 85.9%,
  //   rgb(136 136 136 / 87%) 97.14%
  // );
  // content: "";
  // position: absolute;
  // left: 0;
  // right: 0;
  // top: 0;
  // bottom: 0;
  // z-index: 9;
  background: linear-gradient(
    89.98deg,
    rgba(136, 136, 136, 0.49) 2.6%,
    rgba(136, 136, 136, 0.21) 12.1%,
    rgba(255, 255, 255, 0) 26.4%,
    rgba(255, 255, 255, 0) 79.16%,
    rgba(136, 136, 136, 0.2) 89.1%,
    rgba(136, 136, 136, 0.5) 97.14%
  );
}
.sk-event-slide {
  position: relative;
  z-index: 9;
}
.sk-btn-register {
  background: #d3317d;
  color: #fff;
  padding: 8px 15px;
  width: 100%;
  border-radius: 4px;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  position: relative;
  text-decoration: none;
  text-align: center;
}
.sk-bottomAdd-sec {
  background: #f4f4f4;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sk-bottomAdd-sec img {
  display: block;
  margin: auto;
  text-align: center;
}

.sk-btn-register:hover {
  text-decoration: none;
}
.sk-tags-event {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto 15px;
}
.sk-time-education ul li:last-child {
  text-align: right;
}
.sk-chip-tag span {
  background: #1da1f2;
  color: #fff;
  padding: 4px 8px;
  border-radius: 2px;
}

.sk-card-box {
  box-shadow: 0px 6px 16px 0px rgba(143, 155, 178, 0.2);
  border-radius: 4px;
  transition: all 0.3s;
  margin-bottom: 60px;
  height: calc(100% - 30px);
  position: relative;
}
// .sk-card-box:hover {
//   box-shadow: 0px 8px 26px 0px rgba(143, 155, 178, 0.2);
//   transform: scale(1.03);
// }
.sk-card-img img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  // object-fit: cover;
  // min-height: 220px;
  // max-height: 220px;
  // object-position: top center;
}
.sk-week-time span {
  font-size: 14px;
  line-height: 22px;
  color: #888;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.sk-time-education ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sk-time-education ul li {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.sk-time-education ul li img {
  margin-right: 5px;
  vertical-align: top;
}
.sk-time-education ul li svg {
  font-size: 16.5px;
  vertical-align: top;
  margin-right: 3px;
}

.sk-week-time span svg {
  vertical-align: text-top;
  font-size: 20px;
}

.sk-content-card .sk-card-heading {
  font-weight: 600;
  line-height: 26px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.sk-content-card .sk-card-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.sk-content-card {
  padding: 15px;
}
.sk-content-card .sk-card-description {
  font-size: 15px;
  margin-bottom: 10px;
}
.sk-tags span {
  background: #d3317d33;
  padding: 5px 10px;
  display: inline-block;
  color: #d3317d;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.hint-key-words {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #888888;
  display: inline-block;
  padding: 5px 5px;
}
.hint-key-words:hover {
  color: #d3317d;
  cursor: pointer;
}
.sk-categoryRemove-m {
  margin-bottom: 15px;
}
@media screen and (max-width: 480px) {
  .sk-footer-menu {
    margin-bottom: 15px;
  }
  .sk-event-sec:before {
    background: linear-gradient(
      89.98deg,
      rgba(136, 136, 136, 0.49) 2.6%,
      rgba(136, 136, 136, 0.21) 12.1%,
      rgba(255, 255, 255, 0) 26.4%,
      rgba(255, 255, 255, 0) 79.16%,
      rgba(136, 136, 136, 0.2) 89.1%,
      rgba(136, 136, 136, 0.5) 97.14%
    );
  }
  .sk-event-sec {
    padding: 0px;
  }
  .sk-event-slide .owl-carousel .owl-item img {
    border-radius: 4px;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.1));
  }
  .sk-event-sec .container-fluid {
    padding: 0;
  }
  .sk-event-slide .owl-carousel .owl-stage-outer {
    padding: 15px 0;
  }
  .sk-eventcard-sec {
    padding: 40px 0;
  }
  .sk-title-heading p {
    font-size: 14px;
  }
  .sk-category ul {
    overflow: auto;
    justify-content: start;
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
  .sk-category ul::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  .sk-categoryRemove-m {
    margin-bottom: 0px;
  }
  .sk-title-heading {
    margin-bottom: 30px;
  }
  .sk-category ul li a {
    font-size: 14px;
  }
  .sk-search-sec {
    padding: 30px 0 10px;
  }
  .sk-card-sec {
    padding: 30px 0;
  }
  .sk-eventcard-sec .sk-category:last-child {
    margin-bottom: 30px;
  }
  // .sk-card-sec .sk-category {
  //   margin-bottom: 20px;
  // }
  .sk-search-sec ul {
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: start;
  }
  .sk-search-sec ul::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  .sk-btn {
    min-width: 100px;
    padding: 10px;
    font-size: 14px;
  }
  .sk-search-sec input {
    height: 38px;
  }
}
