$breakpoint-small: 768px;
$breakpoint-medium: 1024px;

.wrapper {
  width: 100%;
  background-color: #222;
}

.footer {
  color: #fff;
  background: #222;
  padding: 50px 0;
  border-bottom: 1px solid #343434;

  @media (max-width: $breakpoint-medium) {
    text-align: center;
  }

  @media (max-width: $breakpoint-small) {
    flex-direction: column;

    &-section {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .footer-hr {
    width: 100%;
    border: 1px solid #857e7e;
    // opacity: 6;
  }
  &-section {
    flex-basis: 25%;
    margin-bottom: 20px;

    @media (max-width: $breakpoint-small) {
      flex-basis: 100%;
    }

    &:last-child {
      text-align: left;

      @media (max-width: $breakpoint-small) {
        text-align: center;
      }
    }

    .footer-heading {
      font-size: 20px;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 5px;

        a {
          color: #fff;
          text-decoration: none;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: #d3317d;
          }
        }
      }
    }
  }
}
.copyRight {
  width: 100%;
  display: flex;
  background: #222;
  justify-content: center;
  align-items: center;
  color: #cdcdcd;
  font-size: 15px;
  padding: 15px 0;
}
.footer .sk-footer-menu ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

 .sk-footer-menu h5 {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 5px;
  color: #fff;
}

.footer .sk-footer-menu ul li a {
  font-size: 15px;
  line-height: 30px;
  color: #cdcdcd;
  transition: all 0.3s;
}
.sk-socialMedia-sec{
  border-bottom: 1px solid #343434;
  padding: 50px 0;
}
.footer .sk-footer-menu ul li a:hover{
  color: #d3317d;
  text-decoration: none;
}
.sk-footer-menu p {
  margin-bottom: 0;
}
.sk-footer-menu p a{
  color: #d3317d;
  font-size: 14px;
}
.sk-footer-menu p a svg{
  margin-right: 5px;
}
.sk-social-icon ul {
  list-style: none;
  display: flex;
  grid-gap: 10px;
  padding: 0;
  margin-bottom: 0;
}

.footer .sk-footer-menu ul li {
  padding: 4px 0;
}
.socialMedia {
 
  .img {
   
    &:hover {
      box-shadow: 0px 4px 20px #d3317d;
    }
  }

  .social-media a {
    margin-right: 10px;
    color: #555;
  }
}

@media (max-width: $breakpoint-small) {
  .socialMedia {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .sk-socialMedia-sec{
    text-align: center;
  }
  .sk-socialMedia-sec .sk-social-icon {
    margin-bottom: 20px;
  }
.sk-socialMedia-sec .sk-social-icon {
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}
.sk-socialMedia-sec .sk-social-icon img{
  text-align: center;
  display: block;
  margin: auto;
}
.sk-socialMedia-sec .sk-social-icon ul {
    justify-content: center;
  }

}
