// .guidance_book {
//   background: #ffe2ec;
//   padding: 80px 0;
// }

.guidance_book_form {
  background-color: #fff;
  border-radius: 5px;
  padding: 55px 40px;
}

.guidance_book_form em {
  font-style: inherit;
}

.selected_value {
  color: black;
  font-size: 16px;
}

.guidance_con h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 40px;
  color: rgb(96 96 96);
}

.guidance_con p {
  text-transform: capitalize;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 30px;
  color: rgb(0 0 0);
}

.guidance_con img {
  max-width: 100%;
  margin-top: 30px;
}

.guidance_book_form span.MuiTabs-indicator {
  border-bottom: none !important;
}

.guidance_book_form .MuiTabs-flexContainer {
  justify-content: space-between;
  margin-top: 20px;
}

.guidance_book_form .MuiTabPanel-root {
  padding: 24px 0 !important;
}

.guidance_book_form .MuiTabs-indicator {
  position: absolute;
  height: 2px;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: transparent;
}

// input[type="date"]::-webkit-calendar-picker-indicator {
//   background: transparent;
//   bottom: 0;
//   color: transparent;
//   cursor: pointer;
//   height: auto;
//   left: 0;
//   position: absolute;
//   right: 0;
//   top: 0;
//   width: auto;
// }

// input[type="date"]::before{
//   color: #888;
//   content: attr(placeholder);
// }
// input[type="date"]:focus::before {
//   content: '' !important;
//   display: none !important;
// }

// input[type="date"]:in-range::-webkit-datetime-edit-year-field,
// input[type="date"]:in-range::-webkit-datetime-edit-month-field,
// input[type="date"]:in-range::-webkit-datetime-edit-day-field,
// input[type="date"]:in-range::-webkit-datetime-edit-text {
//   color: transparent;
// }

.sk-bookC-contentinner ul {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin-bottom: 0;
  gap: 15px;
}

.sk-bookC-counter {
  padding: 50px 0;
  background: #eac6d04a;
}

.sk-bookC-contentinner ul li {
  padding: 0px 30px 0px;
  margin: 10px 0;
}

.sk-bookC-contentinner ul li h3 {
  color: #ec4a8a;
  font-weight: 500;
  font-size: 36px;
}
.sk-bookC-contentinner ul li p {
  font-size: 18px;
  margin-bottom: 0;
}
.guidance_book_form .MuiTab-root.Mui-selected {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #425466;
  padding: 0;
  background: #ffffff;
  border: 1px solid #d62c79;
  box-sizing: border-box;
  border-radius: 5px;
  width: 48%;
  height: 42px;
}

.guidance_book_form .MuiFormControl-root.MuiTextField-root {
  background: #fcfcfd;
  border: 1px solid #e6e5eb;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  height: 50px;
}

.guidance_book_form .MuiButtonBase-root.MuiTab-root {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #425466;
  padding: 0;
}

.guidance_book_form .MuiOutlinedInput-root {
  height: 50px;
  // padding: 0px 0 0px 6px;
}

.guidance_book_form .MuiOutlinedInput-notchedOutline {
  border: none;
}

.guidance_book_form .MuiSelect-select.MuiSelect-outlined img {
  margin-right: 9px;
}

.guidance_book_form select {
  background: #fcfcfd;
  border: 1px solid #e6e5eb;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  height: 50px;
}

.form-control {
  border-color: #e6e5eb !important;
  background: #fcfcfd !important;
  color: #5f6377 !important;
}

.guidance_book_form .MuiFormControl-root {
  width: 100%;
  background-color: #fcfcfd;
  border: 1px solid #e6e5eb;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  height: 50px;
}

.guidance_book_form .form-group.mzero .MuiFormControl-root {
  margin: 0;
}

.guidance_book_form textarea.textarea_set {
  width: 100%;
  background: #fcfcfd;
  border: 1px solid #cfd0d7;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px 12px;
}

.guidance_book_form textarea.textarea_set:focus {
  outline: none;
}

.guidance_book_form .MuiSelect-select.MuiSelect-outlined {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #5f6377;
}

.guidance_book_form svg.MuiSvgIcon-root {
  background-image: url("../../assets/icons/down.png") !important;
  background-repeat: no-repeat;
  color: #fff !important;
}

.guidance_book_form
  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconOutlined.css-1636szt {
  right: 5px !important;
  top: calc(50% - 0.15em) !important;
}

.guidance_book_form
  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconOutlined.MuiSelect-iconOpen.css-1yhq19e {
  right: 15px !important;
  top: calc(50% - 1em) !important;
}

.guidance_book_form .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: #fff;
  top: calc(50% - 5px);
}

.guidance_book_form .css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
  color: #fff;
  right: 18px;
  top: calc(50% - 0.9em);
}

button.book_sess_btn {
  background: #ec498a;
  border: 1px solid #ec498a;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  width: 190px;
  padding: 14px;
  transition-duration: 1s;
}

button.book_sess_btn:hover {
  border: 1px solid #ec498a;
  color: #ec498a;
  background-color: transparent;
}

.g_book_img {
  display: flex;
  justify-content: space-between;
}

.book_sec_content.mob_show {
  display: none;
}

.book_sec_content.mob_show h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 52px;
  color: #323232;
  margin: 0;
}

.book_sec_content.mob_show p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #828282;
}

img.calendar_icon_guidance {
  position: absolute;
  right: 26px !important;
  top: 5px !important;
  z-index: 15 !important;
  color: #fff !important;
}
img.edit_icon_guidance {
  position: absolute;
  // right: 330px !important;
  margin-top: 13px !important;
  margin-left: 10px;
  // z-index: 15 !important;
}

@media screen and (min-device-width: 50px) and (max-device-width: 767px) {
  .guidance_book_form {
    padding: 30px;
  }

  .form-control {
    border-color: #e6e5eb !important;
    background: #fcfcfd !important;
    color: #5f6377 !important;
  }

  .guidance_book .col-md-5.col-12 {
    order: 2;
  }

  .book_sec_content.mob_show {
    display: block;
  }

  .guidance_book .col-md-7.col-12 {
    order: 1;
  }

  .book_sec_content.mob_hide {
    display: none;
  }

  .other_head .MuiButton-text.MuiButton-root {
    display: none;
  }

  .ads_guidence {
    margin-top: 20px;
    height: 400px !important;
  }
}

.ads_guidence {
  width: 100%;
  height: 614px;
  padding-top: 0px;
}

// KC 30-08-2022

@media screen and (max-width: 767px) {
  .addimage098 {
    width: 100%;
  }

  .addimage098 img {
    width: 100%;
    object-fit: contain;
  }

  .career_box h3 {
    white-space: unset;
    /* text-overflow: ellipsis; */
  }

  .college_ads_box {
    // height: 100px;
    margin-left: 0;
  }

  .college_ads_box {
    width: 79%;
    //object-fit: cover;
    margin: auto;
    text-align: center;
    display: block;
  }

  .career_box h3 {
    white-space: unset;
  }

  img.calendar_icon_guidance {
    position: absolute;
    right: 26px !important;
    top: 5px !important;
    z-index: 15 !important;
  }
  img.edit_icon_guidance {
    position: absolute;
    // right: 330px !important;
    margin-left: 10px;
    margin-top: 13px !important;
    // z-index: 15 !important;
  }
}

.form-group Calendar {
  margin-top: 20px;
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  box-sizing: content-box;
  height: 15em !important;
  -webkit-tap-highlight-color: transparent;
  display: block;
  width: 100%;
  animation-duration: 10ms;
  padding: 200px !important;
  margin: 200px !important;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
  background-color: rgb(0 0 0 / 54%);
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root:hover {
  background-color: rgba(255, 142, 208, 0.54);
}

.sk-bookc-sec {
  background: url(../../assets/images/bookcounsellorbg.jpg) center center;
  background-size: cover;
  padding: 30px 0;
}
.sk-bookTab-sec .sk-inline-field {
  margin-top: 10px;
  margin-bottom: 30px;
}
.sk-bookTab-sec .sk-inline-field label {
  display: inline-block;
}
.sk-bookTab-sec .sk-inline-field label {
  font-size: 16px;
  font-weight: 400;
  padding-right: 4px;
  padding-left: 4px;
  display: inline-block;
}
.sk-bookTab-sec .sk-inline-field ul li {
  position: relative;
}
.sk-bookTab-sec .sk-inline-field ul li .sk-filed-icon {
  position: absolute;
  top: 12px;
  bottom: 0;
  left: 10px;
  margin: auto;
}

 .sk-bookTab-sec .sk-inline-field input,  .sk-bookTab-sec .sk-inline-field .sk-custom-select{
  background: rgba(255, 255, 255, 0.3);
  border: 1.5px solid #fff;
  padding: 12px 15px 12px 40px;
  width: 100%;
  border-radius: 8px;
  position: relative;
  color: #888;
  height: 50px;
}
.sk-bookTab-sec .sk-inline-field .sk-custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  // background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: 12px;
}

.sk-bookTab-sec ul {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 0;
  grid-gap: 30px 20px;
}
.sk-bookTab-sec .sk-inline-field input:focus {
  background: transparent !important;
}
.form-inline.sk-inline-field .sk-custom-select {
  color: #888;
}
.form-inline.sk-inline-field .sk-custom-select:focus {
  background: transparent;
}
.sk-bookTab-sec .sk-btn-submit {
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
  width: 100%;
  max-width: 250px;
  height: 50px;
}
.sk-bookC-content h6 {
  font-size: 16px;
  font-weight: 400;
  color: #434242;
  position: relative;
}
// .sk-bookTab-sec .sk-inline-field .sk-filed-icon {
//   display: flex;
//   flex-wrap: wrap;
// }
.sk-bookC-content h2 {
  font-size: 32px;
  font-weight: 500;
  color: #202020;
  margin-bottom: 15px;
}

.sk-sendMain-btn {
  margin-top: 30px;
  text-align: center;
}

.sk-sendMain-btn button svg {
  margin-left: 20px;
}

.sk-toggle-btn {
  background: #e0b9ad;
  box-shadow: inset 0px 4px 4px #d99e90;
  border-radius: 50px;
  width: fit-content;
  padding: 0px;
  margin-bottom: 25px;
  span {
    padding: 7px 10px;
    cursor: pointer;
    fill: #202002;
    font-size: 12px;
    display: inline-block;
  }

  .sk-toggle-active {
    background: #fbf0ec;
    border-radius: 30px;
    color: #d3317d;
    fill: #d3317d;
    display: inline-block;
    padding: 7px 10px;
  }
}
.sk-toggle-btn span svg {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  margin-right: 5px;
}
.sk-form-error {
  font-weight: 400;
  font-size: 12px;
  color: #c93636;
  position: realtive;
  margin-top: 3px;
}
.sk-bookC-img img {
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 991px) and (max-width: 1366px) {
  .sk-bookTab-sec .sk-inline-field label {
    font-size: 14px;
  }
  .sk-bookTab-sec .sk-inline-field input,
  .form-inline.sk-inline-field .sk-custom-select {
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sk-bookTab-sec ul {
    gap: 15px;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 15;
  }
}

@media screen and (max-width: 767px) {
  .sk-bookTab-sec ul {
    gap: 15px;
    grid-template-columns: repeat(1, 1fr);
  }
  .sk-bookC-contentinner ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .sk-bookc-sec {
    padding: 30px 0;
  }
  .sk-bookC-content {
    padding-top: 0;
  }
  .sk-bookC-contentinner ul li {
    padding: 0px 5px 0px;
  }
  .sk-bookTab-sec .sk-inline-field {
    margin-bottom: 15px;
  }
  .sk-bookC-content h2 {
    font-size: 24px;
  }
  .sk-bookC-content h6 {
    font-size: 14px;
  }
  .sk-bookTab-sec .sk-inline-field label {
    font-size: 14px;
  }
  .sk-bookTab-sec .sk-inline-field input,
  .form-inline.sk-inline-field select {
    font-size: 13px;
  }
  .sk-bookC-contentinner ul li h3 {
    font-size: 24px;
  }
  .sk-bookC-contentinner ul li p {
    font-size: 12px;
  }
  .sk-bookC-counter {
    padding: 30px 0;
  }
}
